{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <br>
                        <div style="display: flex; align-items: center; gap: 1000px;">
                            <h2><strong>Users</strong></h2>
                            <a class="btn btn-success" href="{{ path('app_user_new') }}">Create new</a>
                        </div>

                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Roles</th>
{#                                <th>Password</th>#}
{#                                <th>IsVerified</th>#}
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.permission | join }}</td> {# kalau many to many kena ada "|" kalau manytomany #}
{#                                    <td>{{ user.password }}</td>#}
{#                                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>#}
                                    <td>
                                        <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                                        <a class="btn btn-info" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
